<!-- Latest Posts -->
<div class="container">
    <div class="row">
      <!-- post -->
      <div class="post col-xl-6" *ngFor="let blog of blogs">
        <div class="post-thumbnail"><a [routerLink]="['/blog', blog.slug]"><img src="{{ this.sharedService.baseUrl + blog.cover_image_url }}" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta">
            <a class="badge badge-rounded badge-success" *ngFor="let category_list of blog.blog_category">
              {{ category_list.category.name }}
            </a>
          </div>
          <a [routerLink]="['/blog', blog.slug]">
            <h3 class="h4">{{ blog.title }}</h3>
          </a>
          <footer class="post-footer d-flex align-items-center">
            <a [routerLink]="['/blog', blog.slug]" class="author d-flex align-items-center flex-wrap">
              <div class="avatar"><img src="https://d19m59y37dris4.cloudfront.net/blog/1-2-1/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
              <div class="title"><span>{{ blog.user.name }}</span></div>
            </a>
            <div class="date meta-last">{{ blog.created_at | date }}</div>
          </footer>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-template d-flex justify-content-center">
        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
        <li class="page-item"><a href="#" class="page-link active">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
      </ul>
    </nav>
  </div>
