<!-- Latest Posts -->
<div class="container mt-5">
  <h3 class="text-center mb-5">All Blog Lists</h3>
  <div class="row">
    <div class="col-md-12" *ngIf="loader">
        <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>
    <!-- post -->
    <div class="post col-xl-4" *ngFor="let blog of blogs">
      <div class="post-thumbnail"><a [routerLink]="['/blog', blog.slug]"><img src="{{ this.sharedService.baseUrl + blog.cover_image_url }}" alt="..." class="img-fluid"></a></div>
      <div class="post-details">
        <div class="post-meta">
          <a class="badge badge-rounded badge-success" *ngFor="let category_list of blog.blog_category">
              {{ category_list.category.name }}
          </a>
        </div>
        <a [routerLink]="['/blog', blog.slug]">
          <h3 class="h4">{{ blog.title }}</h3>
        </a>
        <footer class="post-footer d-flex align-items-center">
          <a [routerLink]="['/blog', blog.slug]" class="author d-flex align-items-center flex-wrap">
            <div class="avatar"><img src="https://d19m59y37dris4.cloudfront.net/blog/1-2-1/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
            <div class="title"><span>{{ blog.user.name }}</span></div>
          </a>
          <div class="date meta-last">{{ blog.created_at | date }}</div>
        </footer>
      </div>
    </div>

  </div>
  <!-- Pagination -->
 <div class="mt-5 mb-5">
   <nav aria-label="Page navigation example" *ngIf="blogListDetails">
     <ul class="pagination pagination-template d-flex">
       <li class="page-item"><button class="page-link" [disabled]="blogListDetails.prev_page_url == null" (click)="blogPaginateJump(blogListDetails.prev_page_url)"> <i class="fa fa-angle-left"></i></button></li>
       <li class="page-item" *ngFor="let page of numSequence(blogListDetails.last_page); index as i"><button (click)="blogPaginateJump(blogListDetails.path+'?page='+(i+1))" class="page-link">{{ i+1 }}</button></li>
       <li class="page-item"><button class="page-link" [disabled]="blogListDetails.next_page_url == null" (click)="blogPaginateJump(blogListDetails.next_page_url)"> <i class="fa fa-angle-right"></i></button></li>
     </ul>
   </nav>
 </div>
</div>
