<!-- Widget [Latest Posts Widget]        -->
<div class="widget latest-posts">
  <header>
    <h3 class="h6">Latest Posts</h3>
  </header>
  <div class="blog-posts">
      <a [routerLink]="['/blog', blog.slug]" class="item d-flex align-items-center" *ngFor="let blog of blogs">
        <div class="image"><img src="{{ this.sharedService.baseUrl + blog.cover_image_url }}" alt="..." class="img-fluid"></div>
        <div class="title"><strong>{{ blog.title }}</strong>
          <div class="d-flex align-items-center">
            <div class="views"><i class="icon-eye"></i> 500</div>
            <div class="comments"><i class="icon-comment"></i>12</div>
          </div>
        </div>
      </a>
  </div>
</div>
