<div class="container">
  <div class="row">
    <main class="posts-listing col-lg-8">
      <h1>Blog Title Here</h1>
      <div class="">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non feugiat eros, eget tempus justo. Nunc vel odio vel lacus ultrices volutpat eu ut tellus. Donec in sagittis leo. Proin suscipit aliquet leo. Pellentesque fermentum nisi turpis, eget pellentesque eros maximus vel. Aliquam fringilla tristique nisi in auctor. Praesent eu neque sit amet lacus ultrices congue ut ut odio. Nunc eget posuere arcu, quis luctus quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam molestie eget est dignissim pulvinar. Nulla blandit eleifend est sed condimentum. Suspendisse ut auctor sem, at interdum nulla.

          Curabitur tincidunt arcu sapien, ac viverra est pharetra eu. Nulla pretium non eros eu interdum. Sed ante mi, imperdiet eget vestibulum nec, feugiat quis eros. Curabitur a fringilla dolor, ac dignissim velit. Phasellus non quam eget felis rutrum porta blandit nec sapien. Phasellus accumsan ligula ac erat mollis, vel ultricies elit rutrum. Proin pretium, lacus ut lobortis rutrum, justo diam pharetra lacus, sed auctor lectus libero quis nisi. Duis facilisis ligula vel sem gravida ullamcorper eget eget ipsum. Sed at mattis leo.

          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris efficitur, urna a sollicitudin porttitor, sem justo pretium enim, ut fringilla dui quam non libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam commodo libero mollis, pharetra quam id, congue odio. Maecenas eget nunc ut leo feugiat venenatis. Ut eget diam libero. Sed ex velit, sodales ut augue vel, fermentum venenatis augue. Suspendisse rhoncus, odio sed fermentum dapibus, neque odio commodo purus, vel feugiat orci augue et magna. Nulla facilisi. Praesent condimentum ultricies rhoncus. Donec non rhoncus felis. Praesent sodales turpis a tellus vestibulum, ut vehicula elit sodales. Sed ac convallis dui. Duis eget nibh vulputate, dignissim erat sit amet, tempus nibh. Fusce lobortis fermentum ex, vitae tempus turpis venenatis eu.
        </p>
      </div>
    </main>
    <aside class="col-lg-4">
      <app-blogpost-recent></app-blogpost-recent>
      <app-blogpost-categories></app-blogpost-categories>
    </aside>
  </div>
</div>
