<div class="row">
  <div class="col-md-12 mt-3 mb-5">
    <div class="card">
      <div class="card-body">
        <h4>Create New Post</h4>
        <hr>
        <form>
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label>Category</label>
            <select class="form-control">
              <option>Select category</option>
              <option>Article</option>
            </select>
          </div>
          <div class="form-group">
            <label>Body</label>
            <editor
              [init]="{
                 height: 400,
                 menubar: true,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ]
                }"
            ></editor>
          </div>
          <div class="form-group">
            <button class="btn btn-success float-right">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
