<div class="row">
  <div class="col-md-12">
    <div class="card mt-3">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <h4>Blog Post Lists</h4>
          <a routerLink="create" class="btn btn-primary">Create Blog Post</a>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Serial No</th>
              <th>Image</th>
              <th>Title</th>
              <th>publish</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <tr [class.d-none] = !loader>
            <td colspan="5">
              <div class="text-center mt-4"><i class="fa fa-spinner fa-spin" style="font-size: 18px"></i> Loading...</div>
            </td>
          </tr>
            <tr *ngFor="let blog of blogs">
              <td>#</td>
              <td>
                <img src="{{ this.blogService.serverUrl + blog.cover_image_url }}" width="80px">
              </td>
              <td>{{ blog.title }}</td>
              <td>{{ blog.created_at | date }}</td>
              <td>
                <button class="btn btn-info btn-sm mr-1" [routerLink]="['/admin/blogs/edit', blog.slug]">Edit</button>
                <button class="btn btn-danger btn-sm">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="mt-5 mb-5">
          <nav aria-label="Page navigation example" *ngIf="blogListDetails">
            <ul class="pagination pagination-template d-flex">
              <li class="page-item"><button class="page-link" [disabled]="blogListDetails.prev_page_url == null" (click)="blogPaginateJump(blogListDetails.prev_page_url)"> <i class="fa fa-angle-left"></i></button></li>
              <li class="page-item" *ngFor="let page of numSequence(blogListDetails.last_page); index as i"><button (click)="blogPaginateJump(blogListDetails.path+'?page='+(i+1))" class="page-link">{{ i+1 }}</button></li>
              <li class="page-item"><button class="page-link" [disabled]="blogListDetails.next_page_url == null" (click)="blogPaginateJump(blogListDetails.next_page_url)"> <i class="fa fa-angle-right"></i></button></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
